// Colors
$gray-var: #a8a8a8;
$black-var: black;

// Breakpoints
$break-narrow: 'screen and (min-width: 768px)';
$break-wide: 'screen and (min-width: 1024px)';

// Default Margin
$default-margin: 'auto 0;' // I used this instead of an extend because I wanted to use the variable inside my media queries. Which it turns out you can't @extend inside media queries.
